/********Footer*********/

#siteFooter {
	width: 90%;
	margin: 0 auto;
	margin-top: 200px;
	padding-top: 10px;
	padding-bottom: 40px;
	border-top: thin solid #999;
}

#siteFooter img.SBKlogo {
	position: relative;
	bottom: 45px;
	right: 4px;
	width: 88px;
	float: right;
}

#siteFooter p.copyRite {
	font-family: Myriad Pro, sans-serif;
	font-size: .90em;
	color: #666; 
    width: 10%;
	position: absolute;
	right: 79px;
}