html, body {
	width: 100%;
}

header {
	padding-bottom: 250px;
}

#headerLogo {
	position: absolute;
}

.logo { 
	max-width: 40%;
	position: relative;
	bottom: 75px;
	left: 250px;
}

.logoText {
	font-family: Myriad Pro, sans-serif;
	font-size: 2.25em;
	padding-right: 39%;
	padding-top: 2%;
	color: #999;
}

.logoText2 {
	font-family: Myriad Pro, sans-serif;
	font-size: 2.25em;
	color: #999;
	padding-left: 80%;
	position: relative;
	bottom: 263px;
}

a:hover {
	text-decoration: none;
}

/********Responsive Menu*********/

nav {  
    height: 95px;  
    width: 100%;  
    background: #962f33;  
    font-size: 13pt;  
    font-family: Myriad Pro, sans-serif;  
    font-weight: normal;  
    position: relative;  
    border-bottom: 1px solid #7b282b;  
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}  
nav ul {  
    padding: 0;  
    /*margin: 0 auto;*/  
    /*width: 600px;*/  
    height: 70px;  
}  

nav li {  
    display: inline;  
    float: right;  
}  

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

nav a {  
    color: #fff;  
    display: inline-block;  
    /*width: 100px;*/  
    text-decoration: none;  
    /*line-height: 70px;*/    
    /*text-shadow: 1px 1px 0px #283744;*/  
    padding: 30px 80px 0 0;
} 
 
nav li:last-child a {  
    border-right: 0;  
}  

nav a:hover, nav a:active {  
    color: #ad6269;  
}  

nav a#pull {  
    display: none;  
    padding-left: 15px;
    padding-bottom: 15px;
}    

@media screen and (max-width: 600px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;  
    }  
    /*nav li a {  
        border-bottom: 1px solid #7b282b;  
        border-right: 1px solid #7b282b;  
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }*/ 
}  

@media only screen and (max-width : 480px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {  
        display: block;  
        background-color: #962f33;  
        width: 100%;  
        position: relative;  
    }  
    nav a#pull:after {  
        content:"";  
        background: url('nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 15px;  
        top: 10px;  
    }  
}  

@media only screen and (max-width : 320px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
    nav li a {  
        border-bottom: 1px solid #576979;  
    }  
}   

@media all and (max-width: 1100px) {
  .logo { display: none; }
}    

@media all and (max-width: 1100px) {
  .logoText { display: none; }
}    

@media all and (max-width: 1100px) {
  .logoText2 { display: none; }
}    

/*Middle Content*/

/*#this-carousel-id {
	width: 150%;
	margin: 0 auto;
}
*/

#middleContent{
	padding: 2% 0 0 2%;
}

.item img {
	width: 100%;
}

#middleContent ul p {
	color: #666;
	font-family: Myriad Pro, sans-serif;
}

.shopMenu {
    width: 100%;
}

.section {
    float: left;
    width: 15%;
    font-family: Myriad Pro, sans-serif;
	font-size: 1.2em;
	color: #962f33;
	font-weight: heavy;
}

h3.Menu {
	line-height: 120%;
	margin-left: 31%;
	font-weight: bold;
	font-size: 1.125em;
	font-family: Myriad Pro, sans-serif; 
}

a.storeInfo {
	font-family: Myriad Pro, sans-serif;
	font-size: 1.125em;
	color: #999;
	line-height: 130%;
	max-width: 25%
}

.section li {
	margin-left: 31%;

}
/********Footer*********/

p.copyRite {
	float: right;
	font-family: Myriad Pro, sans-serif;
	font-size: .75em;
	color: #666;
	border-top: thin solid #999;
	width: 100%;
	margin: 0 
}

footer img {
	width: 5%;
	height: auto; 
	float: right;
	margin: 0 40px 10px 0;
}

footer {
	width: 90%;
	height: auto;
	margin: 0 auto;
}