html, body {
	width: 100%;
} 

header {
	padding-bottom: 250px;
}

#headerLogo {
	position: absolute;
}

.logo { 
	max-width: 30%;
    min-width: 140px;
	position: relative;
	bottom: 75px;
    left: 250px;
}

.logoText {
	font-family: Myriad Pro, sans-serif;
	font-size: 1.7em;
	padding-right: 39%;
	padding-top: 2%;
	color: #999;
}

.logoText2 {
	font-family: Myriad Pro, sans-serif;
	font-size: 1.7em;
	color: #999;
	padding-left: 60%;
	position: relative;
	bottom: 205px;
}

a:hover {
	text-decoration: none;
}

/********Responsive Menu*********/

nav {  
    height: 45px;  
    width: 100%;  
    background: #962f33;  
    font-size: 13pt;  
    font-family: Myriad Pro, sans-serif;  
    font-weight: normal;  
    position: relative;  
    border-bottom: 1px solid #7b282b;  
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}  
nav ul {  
    padding: 0;  
    /*margin: 0 auto;*/  
    /*width: 600px;*/  
    height: 70px;  
}  

nav li {  
    display: inline;  
    float: right;  
}  

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

nav a {  
    color: #fff;  
    display: inline-block;  
    text-decoration: none;  
    /*padding: 30px 80px 0 15px;*/
    line-height: 45px;
} 
 
nav li:last-child a {  
    border-right: 0;  
}  

nav a:hover, nav a:active {  
    color: #ad6269;  
}  

nav a#pull {  
    display: none;  
    padding-left: 15px;
    padding-bottom: 15px;
}    

@media screen and (max-width: 600px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;  
        left: 15px;
        font-size: 1em;
    }  
   
}  

@media only screen and (max-width : 480px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {  
        display: block;  
        background-color: #962f33;  
        width: 100%;  
        position: relative;  
    }  
    nav a#pull:after {  
        content:"";  
        background: url('nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 15px;  
        top: 10px;  
    }  
}  

@media only screen and (max-width : 320px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
    nav li a {  
        border-bottom: 1px solid #576979;  
    }  
}   

@media all and (max-width: 1100px) {
  .logo { display: none; }
}    

@media all and (max-width: 1100px) {
  .logoText { display: none; }
}    

@media all and (max-width: 1100px) {
  .logoText2 { display: none; }
}    

/**************Middle Content***************/

@media only screen and (max-width: 400px) {
    body { font-size:50%;}
}

@media only screen and (max-width: 800px) {
    body { font-size:100%;}
}  
     
@media only screen and (max-width: 1100px) {
    body { font-size:100%;}
} 

#middleContent{
    padding: 2% 0 0 2%;
}

.item img {
    width: 100%;
}

.container-fluid {
    margin: 0 auto;
    width: 90%;
}

.row-fluid {
    float: left;
    font-family: Myriad Pro, sans-serif;
    width: 250px;
}

.row-fluid .span3 {
    width: 200px;
}

.row-fluid.header {
    padding-bottom: 30px;
}

h3.menu, h3.title-wrapper {
    line-height: 120%;
    margin-left: 30%;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Myriad Pro, sans-serif; 
    color: #962f33;
}

li {
    width: 150px;
    font-size: 1em;
}

.row-fluid h3 li {
    width: 100%;
    font-family: Myriad Pro, sans-serif;
}

a.storeInfo {
    color: #999;
    line-height: 130%;
}

/* Walter */

.row-fluid > .span3 {
    width: 100%;
    float: left;
    margin: 0;
}

.m-left{
    width: 50%;
    float: left;
    clear: left;
}

.m-right{
    width: 50%;
    float: right;
    clear: right;
}

.container-fluid .row-fluid {
    min-width: 160px;
}

.row-fluid .span3 .left {
    float: left;
    clear: left;
    width: 100%;
}

.row-fluid .span3 .right {
    float: right;
    clear: right;
    width: 100%;
}

.col-1 {
    width: 16.66%;
}

.col-2 {
    width: 33.33%;
}

.row-fluid .span3.menu {
    width: 160px;
}

@media screen and (min-width: 500px) and (max-width: 850px) {
    div.container-fluid .row-fluid {
        width: 20%;
        text-align: center;
        min-width: 0;
    }

    #content .row-fluid.header {
        width: 100%;
        text-align: center;
    }

    #content .row-fluid.header > .span3 {
        width: 100%;
        margin: 0;
    }

    #content .header ul > li {
        margin: 0 auto;
    }

    #content .title-wrapper {
        width: 100%;
    }

    #content .title {
        display: inline-block;
    }

    #content .col-left {
        margin: 0 5% 0 10%;
    }

    #content .col-mid {
        margin: 0 5%;
    }

    #content .col-right {
        margin: 0 10% 0 5%;
    }

    #content .row-fluid > .span3 {
        width: auto;
    }

    #content .row-fluid .span3.menu {
        width: 100%;
    }

    #content .m-right, 
    #content .m-left {
        width: 100%;
    }

}

@media screen and (max-width: 1100px) {
    .row-fluid .span3 .right {
        float: left;
    }

    .m-right{
        width: 50%;
        float: left;
        clear: left;
    }

    .col-2 {
        width: 16.66%;
    }

    .container-fluid .row-fluid {
        width: 25%;
        margin: 0 auto;
    }
}

/* End Walter */

@media screen and (max-width: 500px) {

    #content {
        text-align: center;
    }

    #content .row-fluid   {
        width: 100%;
        padding-bottom: 0px;
    }

    #content h3.span3,
    #content .m-left, 
    #content .m-right {
        width: 100%;
    }


    h3.menu {
        padding-top: 30px;
    }

    #headerLogo {
        text-align: center;
    }

    #headerLogo .logo {
        left: auto;
    }
}

/*********Carousel*********/

@media screen and (max-width: 1000px) {
    header {
        padding-bottom: 150px;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding-bottom: 250px;
    }
}

@media screen and (max-width: 500px) {
    #carousel {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        display: inline;
        position: relative;
        top: 60px;
        margin: 0 auto;
    }
}