/********Store Specific Page**********/

.middleContent img.Store {
    width: 90%;
    padding-bottom: 30px;
    margin-left: 5%;
}

@media screen and (max-width: 500px) {
	.middleContent {
        display: none;
}

@media screen and (max-width: 900px) {
    .middleContent {
        display: none;
    }

/*.StoreDays {
	font-family: Myriad Pro, sans-serif;
	font-size: 1.3em;
	color: #666;
	position: relative;
	right: 450px;
	bottom: 350px;
	line-height: 140%;
	float: right;
}

.StoreHours {
	font-family: Myriad Pro, sans-serif;
	font-size: 1.3em;
	color: #666;
	position: relative;
	bottom: 350px;
	line-height: 140%;
	float: right;
	width: 200px;
}

li.hours {
	width: 173px;
}

.starContainer {
	width: 2%;
}

.redStar {
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}

.redStar:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}

.redStar:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}*/