/*******Store Specific Page**********/

.middleContent img.Store {
    width: 90%;
    padding-bottom: 30px;
    margin-left: 5%;
}

/*@media screen and (max-width: 500px) {
	.middleContent {
        display: none;
}

@media screen and (max-width: 1100px) {
    .middleContent {
        display: ;
    }*/

.StoreDays {
	font-family: Myriad Pro, sans-serif;
	font-size: 1.3em;
	color: #666;
	position: relative;
	right: 450px;
	bottom: 350px;
	line-height: 140%;
	float: right;
}

.StoreHours {
	font-family: Myriad Pro, sans-serif;
	font-size: 1.3em;
	color: #666;
	position: relative;
	bottom: 350px;
	line-height: 140%;
	float: right;
	width: 200px;
}

li.hours {
	width: 173px;
}

@media screen and (max-width: 500px) {
    img {
        display: none;
    }
}