body {
	margin: 100%;
}

#header.redBorder ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.redBorder li {
    float: right;
}

#header.redBorder a {
    display: block;
    width: 150px;
    background-color: #962f33;
}

.redBorder img {
	position: relative;
	padding-left: 200px;
	height: 300px;
	width: 300px;
}

div.menu h1 {
	float: right;
	font-size: 200px;
}

#header .menu ul h1{
	list-style-type: none;
}